body,
html {
  margin: 0;
  padding: 0;
  background-color: rgba(237, 232, 203, .8);
}

img,
embed,
object,
video {
  max-width: 100%;
}

p {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h1 {
  font-family: 'Alegreya', serif;
}

h3,
h4 {
  font-family: 'Roboto Condensed', sans-serif;
}


/* HEADER */
header {
  background-color: rgba(109, 102, 61, 1);
  box-shadow: 0 1px 1px black;
}


/* CONTENT */

.container {
  display: grid;
  grid-template: 10% repeat(6, 13%) 10% / 100%;
  grid-template-areas:
  "header"
  "project1"
  "project2"
  "project3"
  "project4"
  "project5"
  "blog"
  "footer";
  background-color: rgba(240, 224, 134, 1);
}

main {
  padding: 10px 0;
  background-color: rgba(237, 232, 203, .8);
}

.site-header {
  padding: 20px 10px;
  grid-area: header;
  display: grid;
  grid-template: 50% 50% / 20% 65% 15%;
  grid-template-areas:
  "logo name menu"
  "logo skills menu";
  /* align-items: center; */
  justify-items: center;
}

.ampersand {
  font-size: .8rem;
  color: rgba(240, 224, 134, 1);
}

#logo {
  grid-area: logo;
  width: 100%;
  border-radius: 100%;
}

#menu {
  grid-area: menu;
  font-size: 3rem;
  align-self: end;
}

#name {
  grid-area: name;
  margin: 0;
  font-size: 2rem;
  color: rgba(237, 232, 203, 1);
  text-shadow: 1px 1px black;
}

#skills {
  grid-area: skills;
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  color: rgba(237, 232, 203, .9);
  text-shadow: 1px 1px black;
}


.proj-container {
  margin: 8%;
  padding: 15px;
  box-shadow: 1px 1px 2px black;
  background-color: rgba(240, 224, 134, 1);
  text-align: justify;
  display: grid;
  grid-template: 10% 70% 20% / 100%;
  justify-items: center;
}

.project-heading {
  font-family: 'Alegreya', serif;
  color: rgba(109, 102, 61, 1);
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

.specs {
  font-size: 1.3rem;
  margin: 10px 0;
}

.project1 {
  grid-area: project1
}

.project2 {
  grid-area: project2
}

.blog {
  grid-area: blog;
  margin-bottom: 10px;
}

article {
  display: grid;
  margin: 10px 0;
}

.blog-entry-title {
  margin-bottom: 0;
  align-self: flex-end;
  font-size: 1.3rem;
}

.blog-paragraphs {
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.diamonds {
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
}

.project3 {
  grid-area: project3
}

.project4 {
  grid-area: project4
}

.project5 {
  grid-area: project5
}

.btn {
  font-size: 1.5rem;
  font-family: 'Alegreya', serif;
  font-weight: bold;
  letter-spacing: 1.2;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(143, 80, 91, 1);
  color: #FFF;
  padding: 15px 10px;
  margin: 20px;
  outline: none;
}

.btn:hover {
  background: black;
  color: #FFF;
}


/* FOOTER */
#site-footer {
  grid-area: footer;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: rgba(256, 256, 256, .8);
  background-color: rgba(143, 80, 91, 1);
}

.footer-text {
  font-size: 1.3rem;
}


/*========================
          FOOTER
=========================*/

@media screen and (min-width: 767px) {
  .site-header {
    padding: 20px 30px;
  }

  #menu {
    align-self: start;
    justify-self: end;
  }

  #name {
    font-size: 3.5rem;
  }

  #skills {
    font-size: 2rem;
  }

  .proj-container {
    margin: 5%;
  }
}

@media screen and (min-width: 1023px) {
  #name {
    font-size: 4.5rem;
  }

  .ampersand {
    font-size: 2.5rem;
  }

  #skills {
    font-size: 3rem;
  }
}
